<div class="app-container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <div class="bg-primary rounded-2 me-3">
                <img src="/images/admin-dash.svg" alt="" class="px-2 py-2" />
            </div>
            <div>
                <h6 class="mb-0 fs-5 fw-bold">LUXE</h6>
                <small class="text-muted fw-semibold">Admin Panel</small>
            </div>
        </div>

        <div class="p-3 d-flex flex-column flex-grow-1">
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a href="/admin/dashboard" class="nav-link <%= locals.activePage === 'dashboard' ? 'active' : '' %>">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-layout-dashboard w-5 h-5"
                        >
                            <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                            <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                            <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                            <rect width="7" height="5" x="3" y="16" rx="1"></rect>
                        </svg>

                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/products" class="nav-link <%= locals.activePage === 'products' ? 'active' : '' %>">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-package w-5 h-5"
                        >
                            <path d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"></path>
                            <path d="M12 22V12"></path>
                            <polyline points="3.29 7 12 12 20.71 7"></polyline>
                            <path d="m7.5 4.27 9 5.15"></path>
                        </svg>

                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/categories" class="nav-link <%= locals.activePage === 'categories' ? 'active' : '' %>">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-folder-tree w-5 h-5"
                        >
                            <path d="M20 10a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2.5a1 1 0 0 1-.8-.4l-.9-1.2A1 1 0 0 0 15 3h-2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1Z"></path>
                            <path d="M20 21a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-2.9a1 1 0 0 1-.88-.55l-.42-.85a1 1 0 0 0-.92-.6H13a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1Z"></path>
                            <path d="M3 5a2 2 0 0 0 2 2h3"></path>
                            <path d="M3 3v13a2 2 0 0 0 2 2h3"></path>
                        </svg>

                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/orders" class="nav-link <%= locals.activePage === 'orders' ? 'active' : '' %>">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-shopping-cart w-5 h-5"
                        >
                            <circle cx="8" cy="21" r="1"></circle>
                            <circle cx="19" cy="21" r="1"></circle>
                            <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"></path>
                        </svg>

                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/customers" class="nav-link <%= locals.activePage === 'customers' ? 'active' : '' %>">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-users w-5 h-5"
                        >
                            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>

                        Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/coupons" class="nav-link <%= locals.activePage === 'coupons' ? 'active' : '' %>">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-ticket w-5 h-5"
                        >
                            <path d="M2 9a3 3 0 0 1 0 6v2a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-2a3 3 0 0 1 0-6V7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2Z"></path>
                            <path d="M13 5v2"></path>
                            <path d="M13 17v2"></path>
                            <path d="M13 11v2"></path>
                        </svg>

                        Coupons
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/sales-report" class="nav-link <%= locals.activePage === 'sales-report' ? 'active' : '' %>">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-chart-column w-5 h-5"
                        >
                            <path d="M3 3v16a2 2 0 0 0 2 2h16"></path>
                            <path d="M18 17V9"></path>
                            <path d="M13 17V5"></path>
                            <path d="M8 17v-3"></path>
                        </svg>

                        Sales Report
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/offers" class="nav-link <%= activePage === 'offers' ? 'active' : '' %>">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-percent w-5 h-5"
                        >
                            <line x1="19" x2="5" y1="5" y2="19"></line>
                            <circle cx="6.5" cy="6.5" r="2.5"></circle>
                            <circle cx="17.5" cy="17.5" r="2.5"></circle>
                        </svg>
                        Offers
                    </a>
                </li>
            </ul>

        </div>
        <hr class="text-muted" />
        <div class="mx-auto pb-4 pt-3 pe-4">
            <form action="/admin/logout" method="GET">
                <button class="btn btn-danger">logout</button>
            </form>
        </div>
    </aside>

    <main class="main-wrapper">
        <header class="top-bar">
            <div class="date-display" id="currentDate"></div>
        </header>
