<nav class="border-bottom border-white py-3 sticky-top shadow-sm glass">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-3 col-lg-2">
                <a href="/" class="text-decoration-none text-dark">
                    <h3 class="mb-0 fw-bold">LUXE</h3>
                </a>
            </div>

            <div class="d-none d-md-flex col-md-6 col-lg-8 justify-content-between align-items-center gap-5">
                <ul class="d-none d-lg-flex align-items-center mb-0 gap-4 list-unstyled">
                    <% for(let i = 0; i < Math.min(categories.length, 3); i++) { %>
                        <li><a href="/category/<%= categories[i]._id %>" class="text-decoration-none text-black fw-semibold"> <%= categories[i].name %> </a></li>
                    <% } %>
                    <% if (categories.length >= 3) {%>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false">More</button>
                            <ul class="dropdown-menu">
                                <% for(let i = 3; i < categories.length; i++) {%>
                                    <li><a href="/category/<%= categories[i]._id %>" class="dropdown-item"><%= categories[i].name %></a></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </ul>

                <div class="py-0 py-lg-1 px-0 px-lg-3 btn-group gap-3 rounded-2 bg-white search-bar d-none d-lg-flex">
                    <img src="/images/nav-search.svg" alt="Search" />
                    <form action="/search" method="get" class="d-none d-lg-block">
                        <input type="text" name="search" placeholder="Search products..." value="<%= locals.search %>" class="border-0 bg-transparent d-none d-lg-block shadow-none p-0 w-100" style="outline: none" />
                    </form>
                </div>
            </div>
            
            <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-end align-items-center gap-4 gap-lg-3">
                <div class="d-lg-none">
                    <img src="/images/mobile-search.svg" role="button" data-bs-toggle="offcanvas" data-bs-target="#searchMobile" aria-controls="searchMobile">
                </div>
                <a href="/wishlist" role="button" class="user-actions d-flex justify-content-center align-items-center rounded-2"><img src="/images/wishlist.svg" alt="Wishlist" role="button" /></a>
                <a href="/cart" role="button" class="user-actions d-flex justify-content-center align-items-center rounded-2"><img src="/images/add-cart.svg" alt="Cart" role="button" /></a>
                <a href="/profile" role="button" class="user-actions d-flex justify-content-center align-items-center rounded-2"><img src="/images/profile.svg" alt="Profile" /></a>

                <div class="d-lg-none">
                    <button class="btn p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#hamburgerMenu" aria-controls="hamburgerMenu" aria-label="Toggle navigation">
                        <i class="bi bi-list fs-5"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="hamburgerMenu" aria-labelledby="hamburgerMenuLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column">
            <% categories.forEach((category) => { %>
                <a class="text-decoration-none fw-semibold text-black pb-4 fs-5" href="/category/<%= category._id %>"><%= category.name %></a>
            <% }) %>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-top d-flex flex-row-reverse justify-content-center align-items-center px-3" tabindex="-1" id="searchMobile" aria-labelledby="searchLabel" style="height: 80px;">
    <div class="offcanvas-header p-0">
        <button type="button" class="btn-close" data-bs-toggle="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
        <div class="container">
            <div class="d-flex">
                <input type="text" name="search" id="search" placeholder="search products..." class="w-100 rounded-2 search-bar shadow-none pt-1" style="outline: none;">
            </div>
        </div>
    </div>
</div>
