<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>LUXE</title>
    <link rel="stylesheet" href="/styles/admin-nav.css">
    <link rel="stylesheet" href="/styles/customers.css">
</head>
<body>
    <%- include('partials/admin-header.ejs', { activePage: 'categories' }) %>
        <div class="m-4">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Categories</h2>
                    <p class="text-muted">Organize your products into categories.</p>
                </div>
                <a href="/admin/categories/add">
                    <button class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus w-4 h-4 mr-2"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg>
                        Add Category
                    </button>
                </a>
            </div>

            <div class="border border-1 rounded-4 p-4 mt-4 bg-white">
                <form action="/admin/categories" method="GET" class="d-flex align-items-center gap-4">
                    <div class="input-group flex-grow-1 focus-ring-wrapper rounded-3">
                        <span class="input-group-text border-0 text-muted" style="background-color: #f3f3f5;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
                        </span>
                        <input type="search" class="form-control border-0 shadow-none" name="search" id="search" placeholder="Search categories..." style="background-color: #f3f3f5" autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary">submit</button>

                </form>
            </div>

            <div class="bg-white mt-4 px-3 py-4 border rounded-4" style="min-height: 500px; display: block; ">
                <div>
                    <h3 class="fs-5 ps-1">All Categories</h3>
                </div>
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Updated</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.categories.forEach((category, index) => { %>

                        <tr>
                            <th scope="row"> <%= (currentPage - 1) * limit + index + 1 %></th>
                            <td class="d-flex gap-4">
                                <%= category.name %>
                                <img src="<%= category.image %>" alt="category image" class="rounded-2" style="height: 45px;">
                            </td>
                            <td> <%= category.slug %> </td>
                            <% if (category.isActive) { %>
                                <td><button class="btn btn-sm btn-dark rounded-2">Active</button></td>
                            <% } else { %>
                                <td><button class="btn btn-sm btn-light border rounded-2">Inactive</button></td>
                            <% } %>
                            <% const dateOption = { month: 'short', day: 'numeric', year: 'numeric' } %>
                            <td> <%= category.createdAt.toLocaleDateString('en-US', dateOption) %> </td>
                            <td> <%= category.updatedAt.toLocaleDateString('en-US', dateOption) %> </td>
                            <td>
                                <div class="btn-group ms-4">
                                    <button class="btn btn-light rounded-2" data-bs-toggle="dropdown" aria-haspopup="true" data-bs-offset="70,5" aria-expanded="false">⋮</button>
                                    <ul class="dropdown-menu rounded-3">
                                        <li class="mb-1">
                                            <a href="/admin/categories/edit/<%= category._id %>" class="dropdown-item small py-2 rounded-2">
                                                <img src="/images/edit.svg" alt="edit icon" class="me-2">
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/categories/delete/<%= category._id %>" class="dropdown-item text-danger small py-2 rounded-2">
                                                <img src="/images/delete.svg" alt="trash icon" class="me-2">
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>


            </div>
            <% if (totalPages > 1) { %>
                <nav aria-label="Category page navigation" class="mt-2">
                    <ul class="pagination justify-content-center mb-0">
                        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                            <a href="?page=<%= currentPage - 1 %>" class="page-link">Previous</a>
                        </li>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item">
                            <a href="?page=<%= i %>" class="page-link"> <%= i %> </a>
                        </li>
                        <% } %>
                        <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                            <a href="?page=<%= currentPage + 1 %>" class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            <% } %>
        </div>
    <%- include('partials/admin-footer.ejs') %>
</body>
</html>

