<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/navbar.css" />
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">
        <div class="mt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="/cart">Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order Status</li>
                </ol>
            </nav>
        </div>
        <div class="mt-5 text-center">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="#cf4040" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x mx-auto h-20 w-20 text-destructive" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><path d="m15 9-6 6"></path><path d="m9 9 6 6"></path></svg>
            </div>
            <h2 class="fw-bold mt-2">Payment Failed!</h2>
            <p class="text-muted">We couldn't process your payment. Please try again or use a different payment method.</p>
        </div>
        <div class="w-75 mx-auto mt-4">
            <div class="border border-1 rounded-4 p-4 bg-white mb-4">
                <div class="d-flex align-items-center gap-2 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package h-5 w-5" aria-hidden="true"><path d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"></path><path d="M12 22V12"></path><polyline points="3.29 7 12 12 20.71 7"></polyline><path d="m7.5 4.27 9 5.15"></path></svg>
                    <p class="fw-bold mb-0 lead">Order Summary</p>
                </div>
                <div>
                    <div class="d-flex justify-content-between mb-2">
                        <span>Order ID</span>
                        <span>Status</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span> <%= order.orderId %> </span>
                        <span class="text-danger"> <%= order.paymentStatus %></span>
                    </div>
                    <br class="text-muted">
                </div>
                <div>
                    <p class="fw-semibold">Items</p>
                    <div class="d-flex flex-column gap-4 mb-3">
                        <% locals.order.items.forEach((item) => { %>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-column gap-1">
                                    <span class="fw-semibold h5 mb-0"> <%= item.productName %> </span>
                                    <div>
                                        <span class="small">Quantity: <span class="fw-bold"> <%= item.quantity %> </span></span>
                                    </div>
                                </div>
                                <span class="fw-semibold">₹<%= item.price %></span>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <hr class="text-muted">
                <div class="d-flex justify-content-between mb-2">
                    <span>Subtotal</span>
                    <span>₹<%= order.subtotal %> </span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span>GST</span>
                    <span>₹<%= order.gst %> </span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Shipping</span>
                    <span>₹<%= order.shipping %> </span>
                </div>
                <hr class="text-muted">
                <div class="d-flex justify-content-between">
                    <span class="fw-bold h5">Grand Total</span>
                    <span class="fw-bold h5">₹<%= order.total %> </span>
                </div>
            </div>

            <div class="border border-1 rounded-4 p-4 bg-white mb-4">
                <div class="d-flex align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin h-5 w-5" aria-hidden="true"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    <p class="fw-bold mb-0">Shipping Address</p>
                </div>
                <div class="d-flex flex-column mt-3">
                    <span class="fw-semibold"> <%= locals.order.shippingAddress.fullName %> </span>
                    <span class="text-muted"> <%= locals.order.shippingAddress.houseNumber %>, <%= locals.order.shippingAddress.street %> </span>
                    <span class="text-muted"> <%= locals.order.shippingAddress.state %>, <%= locals.order.shippingAddress.pincode %> </span>
                    <span class="text-muted">Phone: <%= locals.order.shippingAddress.phone %> </span>
                </div>
            </div>

            <div class="border border-1 rounded-4 p-4 bg-white mb-4">
                <div class="d-flex align-items-center gap-2 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-credit-card h-5 w-5" aria-hidden="true"><rect width="20" height="14" x="2" y="5" rx="2"></rect><line x1="2" x2="22" y1="10" y2="10"></line></svg>
                    <p class="fw-bold mb-0 h5">Payment Method</p>
                </div>
                <p class="fw-semibold lead">Cash on Delivery</p>
            </div>

            <div class="d-flex justify-content-center gap-4">
                <button class="btn btn-light border" id="retry-btn" data-id="<%= order._id %>">Try again</button>
                <a href="/" class="btn btn-danger">Continue Shopping</a>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <div class="toast-container position-fixed top-0 end-0 px-3 pt-5 mt-5">
        <div id="actionToast" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body d-flex gap-2 align-items-center fw-bold">
                    <svg id="toast-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" height="20" width="20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path></svg>

                    <div id="actionToastBody">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/scripts/checkoutFail.js"></script>
</body>
</html>
