<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/navbar.css" />
</head>
<body style="background-color: #fefbf8;">
    <%- include('partials/navbar.ejs') %>

    <div class="container">
        <div class="mt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="/cart">Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order Status</li>
                </ol>
            </nav>
        </div>
        <div class="mt-5 text-center">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="#cf4040" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big mx-auto h-20 w-20 text-primary" aria-hidden="true"><path d="M21.801 10A10 10 0 1 1 17 3.335"></path><path d="m9 11 3 3L22 4"></path></svg>
            </div>
            <h2 class="fw-bold mt-2">Order Successful!</h2>
            <p class="text-muted">Your order has been confirmed and will be delivered soon.</p>
        </div>
        <div class="w-75 mx-auto mt-4">
            <div class="border border-1 rounded-4 p-4 bg-white mb-4">
                <div class="d-flex align-items-center gap-2 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package h-5 w-5" aria-hidden="true"><path d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"></path><path d="M12 22V12"></path><polyline points="3.29 7 12 12 20.71 7"></polyline><path d="m7.5 4.27 9 5.15"></path></svg>
                    <p class="fw-bold mb-0 lead">Order Summary</p>
                </div>
                <div>
                    <div class="d-flex justify-content-between mb-2">
                        <span>Order ID</span>
                        <span>Status</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span> <%= locals.order.orderId %> </span>
                        <span class="text-danger"> <%= locals.order.orderStatus %></span>
                    </div>
                    <hr class="text-muted">
                </div>
                <div>
                    <p class="fw-bold">Items</p>
                    <div class="d-flex justify-content-between mb-3">
                        <% locals.order.items.forEach((item) => { %>
                            <div class="d-flex flex-column gap-1">
                                <span class="fw-semibold h5 mb-0"> <%= item.productName %> </span>
                                <div>
                                    <span class="small">Quantity: <span class="fw-bold"> <%= item.quantity %> </span></span>
                                </div>
                            </div>
                            <span class="fw-semibold">₹<%= item.price %></span>
                        <% }) %>
                    </div>
                </div>
                <hr class="text-muted">
                <div class="d-flex justify-content-between mb-2">
                    <span>Subtotal</span>
                    <span>₹<%= locals.order.subtotal %></span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span>GST</span>
                    <span>₹<%= locals.order.GST %></span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Shipping</span>
                    <span>₹<%= locals.order.shipping %></span>
                </div>
                <hr class="text-muted">
                <div class="d-flex justify-content-between">
                    <span class="fw-bold h5">Grand Total</span>
                    <span class="fw-bold h5">₹<%= locals.order.total %></span>
                </div>
            </div>

            <div class="border border-1 rounded-4 p-4 bg-white mb-4">
                <div class="d-flex align-items-center gap-2 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar h-5 w-5" aria-hidden="true"><path d="M8 2v4"></path><path d="M16 2v4"></path><rect width="18" height="18" x="3" y="4" rx="2"></rect><path d="M3 10h18"></path></svg>
                    <p class="mb-0 fw-bold">Estimated Delivery</p>
                </div>
                <div>
                    <% const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                    <p class="fw-semibold mb-2"> <%= locals.order.estimatedDeliveryDate.toLocaleDateString('en-US', options); %></p>
                    <span class="text-muted">Your order will arrive in 3 days</span>
                </div>
            </div>

            <div class="border border-1 rounded-4 p-4 bg-white mb-4">
                <div class="d-flex align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin h-5 w-5" aria-hidden="true"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    <p class="fw-bold mb-0">Shipping Address</p>
                </div>
                <div class="d-flex flex-column mt-3">
                    <span class="fw-semibold"> <%= locals.order.shippingAddress.fullName %> </span>
                    <span class="text-muted"> <%= locals.order.shippingAddress.houseNumber %>, <%= locals.order.shippingAddress.street %> </span>
                    <span class="text-muted"> <%= locals.order.shippingAddress.state %>, <%= locals.order.shippingAddress.pincode %> </span>
                    <span class="text-muted">Phone: <%= locals.order.shippingAddress.phone %> </span>
                </div>
            </div>

            <div class="border border-1 rounded-4 p-4 bg-white mb-4">
                <div class="d-flex align-items-center gap-2 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-credit-card h-5 w-5" aria-hidden="true"><rect width="20" height="14" x="2" y="5" rx="2"></rect><line x1="2" x2="22" y1="10" y2="10"></line></svg>
                    <p class="fw-bold mb-0 h5">Payment Method</p>
                </div>
                <p class="fw-semibold lead">Cash on Delivery</p>
            </div>

            <div class="d-flex justify-content-center">
                <a href="/" class="btn btn-danger">Continue Shopping</a>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>
