<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin-nav.css">
    <link rel="stylesheet" href="/styles/customers.css">
    <title>Luxe</title>
</head>
<body>
    
    <%- include('partials/admin-nav.ejs') %>
    <main>
        <h2>Customers</h2>
        <p class="main-text">Manage registered users and customers accounts.</p>
        <div class="customers-cards">
            <div class="card">
                <p class="card-title">Total Customers</p>
                <h4 class="card-text"> <%= userInfo.total %> </h4>
            </div>

            <div class="card">
                <p class="card-title">Active Customers</p>
                <h4 class="card-text active-customer"> <%= userInfo.active %> </h4>
            </div>

            <div class="card">
                <p class="card-title">Blocked Customers</p>
                <h4 class="card-text blocked-customer"> <%= userInfo.blocked %> </h4>
            </div>

            <div class="card">
                <p class="card-title">Total Revenue</p>
                <h4 class="card-text"> <%= userInfo.revenue %> </h4>
            </div>

        </div>

        <div class="customer-form-container">
            <form action="/api/admin/customers/search" method="POST" class="customer-form">
                <div class="input-container">
                    <img src="/images/search.svg" alt="search button icon">
                    <input type="text" name="search" id="search">
                </div>
                <select name="status" id="status">
                    <button><selectedcontent></selectedcontent></button>
                    <option value="all-status">All Statuses</option>
                    <option value="Active">Active</option>
                    <option value="Blocked">Blocked</option>
                </select>
            </form>
        </div>

        <div class="table-container">
            <div class="table-header">
                <h2>All Customers (8)</h2>
            </div>
            
            <table class="customer-table">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>Customer</th>
                        <th>Phone</th>
                        <th>Joined Date</th>
                        <th>Orders</th>
                        <th>Total Spent</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user) => { %>
                    <tr>
                        <td>CUS001</td>
                        <td>
                            <div class="customer-name"> <%= user.fullname %> </div>
                            <div class="customer-email"> <%= user.email %> </div>
                        </td>
                        <td> <%= user.phone || "not available" %></td>
                        <td> <%= user.createdAt.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></td>
                        <td> <%= user.orders || "0" %> </td>
                        <td> <%= user.total || "₹0" %> </td>
                        <% if (!user.isBlocked) { %>
                        <td><span class="badge active">Active</span></td>
                        <% } else { %>
                        <td><span class="badge blocked">Blocked</span></td>
                        <% } %>
                        <td class="actions">
                            <button class="action-btn">⋮</button>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>


    </main>
</body>
</html>
